body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px; /* Make the container rounder */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a slight shadow */
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

label, input, button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

input[type="text"], input[type="time"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px; /* Make input fields rounder */
}

input[type="time"] {
  width: auto; /* Override the width to fit the time input */
}

button {
  padding: 12px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px; /* Make the buttons rounder */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3; /* Darken the button color on hover */
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  background-color: #F6A609; /* Yellow color for the drug list */
  border-radius: 5px; /* Make the list items rounder */
  margin-bottom: 5px;
}

li:last-child {
  margin-bottom: 0;
}

/* Style for the reminders list */
#remindersList li {
  background-color: #69C970; /* Green color for the reminders list */
}
